body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #525B44;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login {
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    color: #D3F1DF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    font-size: 2rem;
    color: #D3F1DF;
}

input {
    margin: 5px 0;
}

.login-input {
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
}

#submit {
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #5A6C57;
    color: #D3F1DF;
    cursor: pointer;
}

#submit:hover {
    background-color: #D3F1DF;
    color: #525B44;
}

#error {
    color: red;
    font-size: 1.5rem;
}

footer {
    padding: 10px;
    background-color: #525B44;
    color: #D3F1DF;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9800;
}